# do not include .gitignore for now
#/.gitignore
#.*
#.*/
*.sch-bak
*.kicad_pcb-bak
*.bak
*.kicad_prl
rtl-logic-gates-c2032-smd_final-backups/
logic-gates-gerber/
misc/
rtl-logic-gates-archive/
report.txt
*.*.xxx
*.xxx
